#container {
    width: 200px;
    height: 200px;
    border-radius: 15px;
    border: 1px solid black;
    margin: auto;
}

/*#container:hover{
    background-color: green;
    border: 5px solid orange;
    transform: scale(1.1);
}*/